streamlit
pyaudio
langchain
whisper
gtts
pygame
python-dotenv
langchain-groq
scipy
ffmpeg-python
portaudio19-dev
libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libsmpeg-dev libportmidi-dev libfreetype6-dev libportaudio2
